<link rel="stylesheet" href="/assets/css/about.css">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">About TAMSA</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p>
          &emsp;TAMSA is a nonpartisan grassroots organization open to everyone who shares TAMSA's
          interests and goals. TAMSA works cooperatively with school districts, state legislators,
          and other key policy makers to develop meaningful student assessment for Texas students.
        </p>
        <p>
          &emsp;TAMSA started in 2011 as a statewide, grassroots organization of concerned parents
          who support a more reasoned approach to student testing. We see what is happening in our
          children's classroom: too much time spent on standardized tests; too little time left
          for instruction, exploring and creating. Our mission is to improve public education in
          Texas through the use of meaningful and effective student assessments that allow for a
          more productive classroom instruction and more efficient use of public funds.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <h3>TAMSA Board of Directors</h3>
        <ul>
          <li>Heather Sheffield-President</li>
          <li>Dr. Theresa Trevino-Vice President</li>
          <li>Chris Vierra-Treasurer</li>
          <li>Kristi Hassett-Secretary</li>
          <li>Laura Yeager-Board Member</li>
          <li>Sheri Hicks-Board Member</li>
          <li>Leslie Milder-Board Member</li>
        </ul>
        <p> <h3>TAMSA Advisory Board</h3></p>
        <ul>
          <li>Dineen Majcher</li>
          <li>Susan Schultz</li>
        </ul>
      </div>
    </div>
  </div>
</section>
