<link rel="stylesheet" href="/assets/css/billTracker.handlebars">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">2019 Bill Tracker - 86th Legislative Session</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="help">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <p><h4><span class="bold">Below is a short summary of bills filed in the 2019 86th Legislative Session</span></h4></p>
          <ul>
            <li><span class="bold">SB 96 - Menendez (D)</span> - limits state-required assessments to students in grades 3-8 those required by federal law</li>
            <li><span class="bold">SB 52 - Zaffirini (D)</span> - allows out-of-state high school transfer students grades 11 and 12 to utilize IGC to meet graduation 
            requirements </li>
            <li><span class="bold">HB 108 - Mary Gonzalez (D)</span> - establishes a pilot program to allow the use of digital portfolios in grades 3-8 as a percentage of 
            student performance on assessments <span class="bold">SB 837 West (D)</span> - Companion - Identical </li>
            <li><span class="bold">HB 120 - Mary Gonzalez (D)</span> - extends the exemption of ELL students from assessments to two years</li>
            <li><span class="bold">SB 213 - Seliger (R)</span> - permanently established individual graduation committees as a path to meet high school graduation requirements
            <span class="bold">HB 677 Guillen (D)</span>- Companion - Identical - <span class="bold">HB 851 Huberty (R)</span>- Companion - Identical  </li>
            <li><span class="bold">HB 525 - Tinderholt (D)</span> - limits tests to those required by federal law</li>
            <li><span class="bold">HB 671 - King (R)</span> - Eliminates end of course exams (EOCs) and replaces them with a second Texas Success Initiative diagnostic
            assessment or a nationally normed assessment such as the ACT or SAT</li>
            <li><span class="bold">HB 736 - Landgraf (R)</span> - leaves the STAAR test in place but removes high-stakes attached to the exams</li>
            <li><span class="bold">HB 843 - Springer (R)</span> - Adds two additional end of course exams (EOCs), Algebra II and English III</li>
            <li><span class="bold">HB 1480 - VanDeaver (R)</span> - Districts will be required to create an accelerated learning committee for each student that does not
            perform satisfactorily on 3rd grade reading or math</li>
            <li><span class="bold">HB 1603 - Goldman (R)</span> - Allows US History dual credit course to serve as the History EOC requirement</li>
            <li><span class="bold">HB 1687- White (R)</span> - Eliminates all assessments that are not required by federal law </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</section>

      