<link rel="stylesheet" href="/assets/css/billTracker.handlebars">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">2019 Bill Tracker - 86th Legislative Session</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="help">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <p><h4><span class="bold">Below is a short summary of bills filed in the 2019 86th Legislative Session</span></h4></p>
          <ul>
            <li><span class="bold">SB 36 - Zaffirini (D)</span> - expands pre-k to full-day and increases eligibility to all 4 year olds - <span class="bold">HB 189 Reynolds (D)</span>- Companion - Identical </li>
            <li><span class="bold">SB 96 - Menendez (D)</span> - limits state-required assessments to students in grades 3-8 those required by federal law</li>
            <li><span class="bold">SB 52 - Zaffirini (D)</span> - allows out-of-state high school transfer students grades 11 and 12 to utilize IGC to meet graduation requirements </li>
            <li><span class="bold">HB 108 - Mary Gonzalez (D)</span> - establishes a pilot program to allow the use of digital portfolios in grades 3-8 as a percentage of student performance on assessments </li>
            <li><span class="bold">HB 120 - Mary Gonzalez (D)</span> - extends the exemption of ELS students from assessments to two years</li>
            <li><span class="bold">SB 2013 - Seliger (R)</span> - permanently established individual gradiaton committees as a path to meet high school graduation requirements</li>
            </ul>
        </div>
      </div>
    </div>
  </div>  
</section>

      