<link rel="stylesheet" href="/assets/css/help.css">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Get Involved in Testing Reform</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- help -->
<section class="help">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 my-2">
        <h3>How can I help?</h3>
        <ol>
          <li>
            <h6>SIGN UP ONLINE</h6>
            <ul>
              <li>Get regular email updates and action alerts by signing up with the TAMSA email alert system. If you work for a school district, please use a PERSONAL email</li>
              <li><a href="http://www.twitter.com/TAMSATX" target="_blank">Follow us on Twitter</a></li>
              <li><a href="http://www.facebook.com/tamsatx" target="_blank">Follow us on Facebook</a></li>
            </ul>
          </li>
          <li>
            <h6>SPREAD THE WORD</h6>
            <ul>
              <li>Ask your family members, friends, and colleagues to join TAMSA.</li>
              <li>Ask your local PTA to include an overview of TAMSA in their next
                newsletter.</li>
            </ul>
          </li>
          <li>
            <h6>CONTACT POLICYMAKERS</h6>
            <ul>
              <li>Voice your concern to policymakers regarding meaningful student assesment</li>
              <ul>
                <li><a href="https://tea.texas.gov/About_TEA/Contact/"target="_blank">Texas Education Agency (TEA)</a></li>
                <li>Find your 
                  <a href="https://fyi.capitol.texas.gov/Home.aspx"target="_blank"> State Board of Education (SBOE) Representative</a>
                </li>
                <li>Find your 
                  <a href="https://fyi.capitol.texas.gov/Home.aspx"target="_blank">State Legislators</a>,</li> 
                <li> Contact
                  <a href="https://gov.texas.gov/contact"target="_blank">Governor Greg Abbot</a>, and 
                  <a href="https://www.ltgov.state.tx.us/contact/"target="_blank"> Lt. Governor Dan Patrick</a>
                </li>
                <li><a href="https://senate.texas.gov/cmte.php?c=530"target="_blank">The Senate Committee on Education</a></li> 
                <li><a href="https://house.texas.gov/committees/committee/?committee=C400"target="_blank">The House Committee on Public Education</a></li>
              </ul>
              
              <li>Please ask them to stop the wasteful expenditures on high stakes
                testing and allow for more productive classroom instruction time.</li>
              <li>Share your personal stories with education leaders and your elected
                representatives, and let them know that testing reform legislation
                must be implemented quickly and smoothly without negatively affecting
                students.</li>
            </ul>
          </li>
        </ol>
      </div>
      <div class="col-12 col-md-4 sidecolumn">
        <div class="row">
          <div class="col-4 col-md-12 my-2">
            <h6>Join our email list</h6>
            <div class="ctct-inline-form" data-form-id="d3a2c3e6-acda-410f-b972-341412d30e8d"></div>
            <p class="text-center"><span class="bold">District employees, please use PERSONAL email.</span></p>
          </div>
          <div class="col-4 col-md-12 my-2">
            <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
              name="submit" alt="PayPal - The safer, easier way to pay online!" type="image"
              border="0">
            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
              style="display: none !important;" width="1" hidden="" height="1" border="0">
          </div>
          <div class="col-4 col-md-12 my-2">
            <a class="text-light" href="https://fyi.capitol.texas.gov/Home.aspx" target="_blank"><button class="btn leglookup">Legislator Look-Up</button></a>
          </div>
        </div>
      </div>
    </div>
</section>   


