<link rel="stylesheet" href="/assets/css/help.css">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Get Involved in Testing Reform</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- help -->
<section class="help">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 my-2">
        <h3>How can I help?</h3>
        <ol>
          <li>
            <h6>SIGN UP ONLINE</h6>
            <ul>
              <li>Get regular email updates and action alerts by signing up with the TAMSA email alert system. If you work for a school district, please use a PERSONAL email</li>
              <li>Follow us on Facebook</li>
              <li>Follow us on Twitter</li>
            </ul>
          </li>
          <li>
            <h6>SPREAD THE WORD</h6>
            <ul>
              <li>Ask your family members, friends, and colleagues to join TAMSA.</li>
              <li>Ask your local PTA to include an overview of TAMSA in their next
                newsletter.</li>
            </ul>
          </li>
          <li>
            <h6>CONTACT TEA, SBOE and LEGISTALORS (scroll down for contact info)</h6>
            <ul>
              <li>Voice your concern to the Texas Education Agency (TEA), your State
                Board of Education (SBOE) Representative and your State Legislators
                regarding meaningful student assessment.</li>
              <li>Please ask them to stop the wasteful expenditures on high stakes
                testing and allow for more productive classroom instruction time.</li>
              <li>Share your personal stories with education leaders and your elected
                representatives, and let them know that testing reform legislation
                must be implemented quickly and smoothly without negatively affecting
                students.</li>
            </ul>
          </li>
        </ol>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-4 col-md-12 my-2">
            <h6>Join our email list</h6>
            <input type="text" placeholder="Enter your email..." id="email">
          </div>
          <div class="col-4 col-md-12 my-2">
            <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
              name="submit" alt="PayPal - The safer, easier way to pay online!" type="image"
              border="0">
            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
              style="display: none !important;" width="1" hidden="" height="1" border="0">
          </div>
          <div class="col-4 col-md-12 my-2">
            <button class="btn">Legislator Look-Up</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Who represents me?</h3>

    </div>
  </div>
</section>   
