<link rel="stylesheet" href="/assets/css/index.css">
<!-- masthead -->
<section class="masthead">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="my-5">Texans Advocating for Meaningful Student Assessment</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <button style="background: #DB0003; border: none" class="btn btn-primary btn-large btn-block py-2" type="button" data-toggle="modal" data-target=".modal">
            <span class="bold">Sign up for our email list!</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign up for our email list!</h5>
        <p><span class="bold">District employees, please use PERSONAL email.</span></p>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- Begin Constant Contact Inline Form Code -->
          <div class="ctct-inline-form" data-form-id="d3a2c3e6-acda-410f-b972-341412d30e8d"></div>
          <!-- End Constant Contact Inline Form Code -->
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

<div style="background: #4471ba;">
  <div class="container-fluid">
     <div class="text-center" target="_blank" style="color: white;"><h3 style="padding-top: 10px">Breaking News</h3></div> 
      <div class="text-center"><a href="assets/pdf/TAMSA_Press_Release_HB3906.pdf" target="_blank" style="color: yellow;"><h4 style="padding-top: 10px">May 23, 2019 - TAMSA responds to Senate Changes to HB 3906</a></h4></div>
        <div class="text-center" style="color: white; padding: 10px 0;"><span class="bold"> </span></div>
  </div>
        
</div>



 <div class="container-fluid">
    <div class="row">
      <div class="text-center col-md-6 mx-auto px-6 mb-6">
      <!-- linkrow -->
        <section class="linkrow">
          <div class="">
            <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
              <a class="m-auto btn" href="/legislature/priorities">Legislative Priorities</a>
            </div>
            <p class="lead">TAMSA's 2019 Legislative Priorities for the 86th Legislative Session</p>
          </div>
          <div class="">
            <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
              <a class="m-auto btn" href="/help">Get Involved</a>
            </div>
            <p class="lead">Ways you can get involved in advocating for appropriate student testing</p>
          </div>
          <div class="">
            <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
              <a class="m-auto btn" href="/legislature/billtracker">2019 Bill Tracker</a>
            </div>
            <p clagit class="lead">Track legislation filed in the 2019 86th Legislative Session</p>
          </div>
          <div class="">
            <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
              <a class="m-auto btn" href="https://fyi.capitol.texas.gov/Home.aspx" target="_blank">Who Represents Me?</a>
            </div>
            <p class="lead">Find your state legislators and State Board of Education (SBOE) Representatitve</p>
          </div>
        </section>
      </div>
    </div>
  </div>

<!-- showcase -->
<section class="showcase" style="margin-top: 6rem">
 <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="text-center heads">
          <img src="/assets/img/logo-whitebg.jpeg" alt="TAMSA">
        </div>
        <ul class="points">
          <li>
            <p class="text-center">
              Nonpartisan. Grassroots. Statewide.
            </p>
          </li>
          <li>
            <p>
              TAMSA is a statewide, grassroots
              organization of parents and community members concerned with the
              overemphasis on high stakes STAAR tests and the misallocation
              of hundreds of millions of taxpayer dollars to meaningless tests when that 
              money should be going to classroom needs.
            </p>
          </li>
          <li>
            <p>
              TAMSA's mission is to improve public
              education in Texas through the use of meaningful and effective
              student assessment that allows for more productive classroom
              instruction and more efficient use of public funds.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <a class="twitter-timeline"
          href="https://twitter.com/TAMSATX?ref_src=twsrc%5Etfw"
          data-height="600"
          data-width="700"
        ></a>
        <script async 
          src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>         
      </div>
    </div>
   </div>
</section>


