<link rel="stylesheet" href="/assets/css/index.css">
<!-- masthead -->
<section class="masthead">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="my-5">Texans Advocating for Meaningful Student Assessment</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row inputrow">
  <div class="col-md-7 mx-auto">
    <form>
      <div class="form-row">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
          <input class="form-control form-control-lg" type="email" placeholder="Enter your email...">
          <p class="mb-0 mb-md-5">District employees and teachers, please use PERSONAL email address</p>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <button class="btn btn-block btn-lg btn-primary" type="submit">Sign up!</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- linkrow -->
<section class="linkrow">
  <div class="text-center container">
    <!-- the buttons are in a row until lg, then they go vertical -->
    <div class="row">
      <div class="col-lg-3">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="m-auto btn" href="/legislature/priorities">Legislative Priorities</a>
        </div>
        <p class="lead">TAMSA's 2019 Legislative Priorities for the 86th Legislative Session</p>
      </div>
      <div class="col-lg-3">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="m-auto btn" href="/help">Get Involved</a>
        </div>
        <p class="lead">Ways you can get involved in advocating for appropriate student testing</p>
      </div>
      <div class="col-lg-3">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="m-auto btn" href="/legislature/billtracker">2019 Bill Tracker</a>
        </div>
        <p class="lead">Track legislation filed in the 2019 86th Legislative Session</p>
      </div>
      <div class="col-lg-3">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="m-auto btn" href="https://fyi.capitol.texas.gov/Home.aspx" target="_blank">Who Represents Me?</a>
        </div>
        <p class="lead">Find your state legislators and State Board of Education (SBOE) Representatitve</p>
      </div>
    </div>
  </div>
</section>

<!-- showcase -->
<section class="showcase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="text-center heads">
          <img src="/assets/img/logo-whitebg.jpeg" alt="TAMSA">
        </div>
        <ul class="points">
          <li>
            <p class="text-center">
              Nonpartisan. Grassroots. Statewide.
            </p>
          </li>
          <li>
            <p>
              TAMSA is a statewide, grassroots
              organization of parents and community members concerned with the
              overemphasis on high stakes STAAR tests and the misallocation
              of hundreds of millions of taxpayer dollars to meaningless tests when that 
              money should be going to classroom needs.
            </p>
          </li>
          <li>
            <p>
              TAMSA's mission is to improve public
              education in Texas through the use of meaningful and effective
              student assments that allow for more productive classroom
              instruction and more efficient use of public funds.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <a class="twitter-timeline"
          href="https://twitter.com/TAMSATX?ref_src=twsrc%5Etfw"
          data-height="600"
          data-width="700"
        ></a>
        <script async 
          src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>         
      </div>
    </div>
  </div>
</section>
