<link rel="stylesheet" href="/assets/css/about.css">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Inputs & Outputs in Public Education</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p>
          There has been significant discussion lateley regarding <span class="bold">outcomes-based funding for public schools</span>. TAMSA urges that it is critical
          to remember that schools are not tranditional for-profit businesses and should not be run as such. Public schools take all students from every ethnic and 
          socio-economic group as the students enter the educaiton system. Public school funding is mandated by the Texas consititution and that mandate does not tie
          reasonable funding to high stakes testing outcomes. 
        </p>
        <p>
          <span class="bold">High-performing Organizations Focus on Inputs & Quality Assurance</span><br/>
          Best practices in many high-performing organizations adhere to the philosophy that you cannot test quality
          into the product; you design and build in quality by using people, procedures and resources. In today’s competitive,
          global market, it is far too costly for companies to wait until completing their processes to determine if their 
          product meets specifications. Instead, highfunctioning organizations invest in trained employees, defined procedures and
          proper resources to ensure that a quality product is produced. These companies focus on a “right-first-time” strategy 
          to produce a quality product, not testing upon completion. Quality Assurance (QA) checks are performed on the final product only to ensure 
          that defined specifications have been met. If these checks reveal flaws, then the design and manufacturing process is reevaluated 
        </p>
       </div>
          <div class="col-4 col-md-12 my-2">
            <a class="text-light" href="https://fyi.capitol.texas.gov/Home.aspx" target="_blank"><button class="btn leglookup">Legislator Look-Up</button></a>
          </div>
      </div>
  </div>
</section>
