<link rel="stylesheet" href="Legislative Committees">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Key Legislative Committees</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- whoRepresent -->
<section class="whoRepresent">
  <div class="container">
    <div class="row">
      <div class="col-12">
       
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <h4><a href="https://senate.texas.gov/cmte.php?c=530" target="_blank">2017 Senate Committee on Education</a></h4>
          <ul>
            <li>
              <a href="mailto:Larry.Taylor@senate.texas.gov">
              Chair: Senator Larry Taylor</a> (512) 463-0111
            </li>
            <li>
              <a href="mailto:Eddie.Lucio@senate.texas.gov">
              Vice-Chair: Senator Eddie Lucio, Jr.</a> (512) 463-0127
            </li>
            <li>
              <a href="mailto:Paul.Bettencourt@senate.texas.gov">
              Senator Paul Bettencourt</a> (512) 463-0107
            </li>
            <li>
              <a href="mailto:Donna.Campbell@senate.texas.gov">
              Senator Donna Campbell</a> (512) 463-0125
            </li>
            <li>
              <a href="mailto:Bob.Hall@senate.texas.gov">
               Senator Bob Hall</a> (512) 463-0102
            </li>
            <li>
              <a href="mailto:Don.Huffines@senate.texas.gov">
              Senator Don Huffines</a> (512) 463-0116
            </li>
            <li>
              <a href="mailto:Bryan.Hughes@senate.texas.gov">
              Senator Bryan Hughes</a> (512) 463-0101
            </li>
            <li>
              <a href="mailto:Kel.Seliger@senate.texas.gov">
              Senator Kel Seliger</a> (512) 463-0131
            </li>
            <li>
              <a href="mailto:Van.Taylor@senate.texas.gov">
              Senator Van Taylor</a> (512) 463-0108
            </li>
            <li>
              <a href="mailto:Royce.West@senate.texas.gov">
              Senator Royce West</a> (512) 463-0123
            </li>
          </ul>
          <p class=bold>
            Easy cut &amp; paste for mass email <br/>
            <a href="mailto:Larry.Taylor@senate.texas.gov">Larry.Taylor@senate.texas.gov</a>; <a href="mailto:Eddie.Lucio@senate.texas.gov">Eddie.Lucio@senate.texas.gov</a>; <a href="mailto:Paul.Bettencourt@senate.texas.gov">Paul.Bettencourt@senate.texas.gov</a>; <a href="mailto:Donna.Campbell@senate.texas.gov">Donna.Campbell@senate.texas.gov</a>; <a href="mailto:Bob.Hall@senate.texas.gov">Bob.Hall@senate.texas.gov</a>; <a href="mailto:Don.Huffines@senate.texas.gov"/a>Don.Huffines@senate.texas.gov</a>; <a href="mailto:Bryan.Hughes@senate.texas.gov"/a>Bryan.Hughes@senate.texas.gov</a>; <a href="mailto:Kel.Seliger@senate.texas.gov"/a>Kel.Seliger@senate.texas.gov</a>; <a href="mailto:Van.Taylor@senate.texas.gov"/a>Van.Taylor@senate.texas.gov</a>; <a href="mailto:Royce.West@senate.texas.gov"/a>Royce.West@senate.texas.gov</a>
          </p>
      </div>
      <div class="col-12 col-md-4">
          <h4><a href="https://house.texas.gov/committees/committee/?committee=C400" target="_blank">2017 House Committee on Public Education</a></h4>
          <ul>
            <li>
              <a href="mailto:Dan.Huberty@house.state.gov">
              Chair: Rep. Dan Huberty</a> (512) 463-0520
            </li>
            <li>
              <a href="mailto:Diego.Bernal@house.state.gov">
              Vice-Chair: Rep. Diego Bernal</a> (512) 463-0532
            </li>
            <li>
              <a href="mailto:Alma.Allen@house.texas.gov">
              Rep. Alma A. Allen</a> (512) 463-0744
            </li>
            <li>
              <a href="mailto:Dwayne.Bohac@house.texas.gov">
              Rep. Dwayne.Bohac</a> (512) 463-0727
            </li>
            <li>
              <a href="mailto:Joe.Deshotel@house.texas.gov">
              Rep. Joseph "Joe" Deshotel</a> (512) 463-0662
            </li>
            <li>
              <a href="mailto:Harold.Dutton@house.texas.gov">
              Rep. Harold V. Dutton, Jr.</a> (512) 463-0510
            </li>
            <li>
              <a href="mailto:Lance.Gooden@house.texas.gov">
              Rep. Lance Gooden</a> (512) 463-0458
            </li>
            <li>
              <a href="mailto:Ken.King@house.texas.gov">
              Rep. Ken King</a> (512) 463-0736
            </li>
            <li>
              <a href="mailto:Linda.Koop@house.texas.gov">
              Rep. Linda Koop</a> (512) 463-0454
            </li>
            <li>
              <a href="mailto:Morgan Meyer@house.texas.gov">
              Rep. Morgan Meyer</a> (512) 463-0367
            </li>
            <li>
              <a href="mailto:Gary.VanDeaver@house.texas.gov">
              Rep. Gary VanDeaver</a> (512) 463-0692
            </li>
          </ul>
          <p>
            Easy cut &amp; paste for mass email <br/>
            <a href="mailto:Dan.Huberty@house.state.gov">Dan.Huberty@house.texas.gov</a>; <a href="mailto:Diego.Bernal@house.state.gov"/a>Diego.Bernal@house.texas.gov</a>; <a href="mailto:Alma.Allen@house.texas.gov"/a>Alma.Allen@house.texas.gov</a>; <a href="mailto:Dwayne.Bohac@house.texas.gov"/a>Dwayne.Bohac@house.texas.gov</a>; <a href="mailto:Joe.Deshotel@house.texas.gov"/a>Joe.Deshotel@house.texas.gov</a>; <a href="mailto:Harold.Dutton@house.texas.gov"/a>Harold.Dutton@house.texas.gov</a>; <a href="mailto:Lance.Gooden@house.texas.gov"/a>Lance.Gooden@house.texas.gov</a>; <a href="mailto:Ken.King@house.texas.gov"/a>Ken.King@house.texas.gov</a>; <a href="mailto:Linda.Koop@house.texas.gov"/a>Linda.Koop@house.texas.gov</a>; <a href="mailto:Morgan.Meyer@house.texas.gov"/a>Morgan.Meyer@house.texas.gov</a>; <a href="mailto:Gary.VanDeaver@house.texas.gov"/a>Gary.VanDeaver@house.texas.gov</a>
          </p>
      </div>
      <div class="col-12 col-md-4">
        <h4><a href="https://www.house.texas.gov//committees/committee/?committee=C030" target="_blank">2017 House Appropriations Committee</a></h4>
        <ul>
          <li>
            <a href="mailto:John.Zerwas@house.state.gov">
            Chair John Zerwas</a> (512) 463-0657
          </li>
          <li>
            <a href="mailto:Oscar.Longoria@house.state.gov">
            Vice Chair Oscar Longoria</a> (512) 463-0645
          </li>
          <li>
            <a href="mailto:Trent.Ashby@house.texas.gov">
            Rep. Trent Ashby</a> (512) 463-0508
          </li>
          <li>
            <a href="mailto:Greg.Bonnen@house.texas.gov">
            Rep. Greg Bonnen</a> (512) 463-0729
          </li>
          <li>
            <a href="mailto:Giovanni.Capriglione@house.texas.gov">
            Rep. Giovanni Capriglione</a> (512) 463-0690
          </li>
          <li>
            <a href="mailto:Scott.Cosper@house.texas.gov">
            Rep. Scott Cosper</a> (512) 463-0684
          </li>
          <li>
            <a href="mailto:Sarah.Davis@house.texas.gov">
            Rep. Sarah Davis</a> (512) 463-0389
          </li>
          <li>
            <a href="mailto:Jay.Dean@house.texas.gov">
            Rep. Jay Dean</a> (512) 463-0750
          </li>
          <li>
            <a href="mailto:Dawnna.Dukes@house.texas.gov">
            Rep. Dawna Dukes</a> (512) 463-0506
          </li>
          <li>
            <a href="mailto:Helen.Giddings@house.texas.gov">
            Rep. Helen Giddings</a> (512) 463-0953
          </li>
          <li>
            <a href="mailto:Mary.Gonzalez@house.texas.gov">
            Rep. Mary Gonzalez</a> (512) 463-0613
          </li>
          <li>
            <a href="mailto:Donna.Howard@house.texas.gov">
            Rep. Donna Howard</a> (512) 463-0631
          </li>
          <li>
             <a href="mailto:Linda.Koop@house.texas.gov">
            Rep.Linda Koop</a> (512) 463-0454
          </li>
          <li>
             <a href="mailto:Rick.Miller@house.texas.gov">
            Rep. Rick Miller</a> (512) 463-0710
          </li>
          <li>
             <a href="mailto:Sergio.Munoz@house.texas.gov">
            Rep. Sergio, Munoz, Jr.</a> (512) 463-0613
          </li>
          <li>
             <a href="mailto:MaryAnn.Perez@house.texas.gov">
            Rep. Mary Ann Perez</a> (512) 463-0460
          </li>
          <li>
             <a href="mailto:Dade.Phelan@house.texas.gov">
            Rep. Dade Phelan</a> (512) 463-0706
          </li>
          <li>
             <a href="mailto:John.Raney@house.texas.gov">
            Rep. John Raney</a> (512) 463-0698
          </li>
          <li>
             <a href="mailto:Kevin.Roberts@house.texas.gov">
            Rep. Kevin Roberts</a> (512) 463-0496
          </li>
          <li>
             <a href="mailto:Justin.Rodriguez@house.texas.gov">
            Rep. Justin Rodriguez</a> (512) 463-0669
          </li>
          <li>
             <a href="mailto:Toni.Rose@house.texas.gov">
            Rep. Toni Rose</a> (512) 463-0664
          </li>
          <li>
             <a href="mailto:j.d.sheffield@house.texas.tx.us">
            Rep. J.D. Sheffield</a> (512) 463-0628
          </li>
          <li>
             <a href="mailto:Ron.Simmons@house.state.tx.us">
            Rep. Ron Simmons</a> (512) 463-0478
          </li>
          <li>
            <a href="mailto:Gary.VanDeaver@house.texas.gov">
            Rep. Gary VanDeaver</a> (512) 463-0692
          </li>
          <li>
            <a href="mailto:Armando.Walle@house.texas.gov">
              Rep. Armando Walle</a> (512) 463-0924
          </li>
          <li>
            <a href="mailto:Gene.Wu@house.texas.gov">
              Rep. Gene Wu</a> (512) 463-0492
          </li>
        </ul>
        <p>
          Easy cut &amp; paste for mass email <br/>
          <a href="mailto:John.Zerwas@house.state.gov"> Chair John Zerwas</a>; <a href="mailto:Diego.Bernal@house.state.gov"/a>Diego.Bernal@house.texas.gov</a>; <a href="mailto:Alma.Allen@house.texas.gov"/a>Alma.Allen@house.texas.gov</a>; <a href="mailto:Dwayne.Bohac@house.texas.gov"/a>Dwayne.Bohac@house.texas.gov</a>; <a href="mailto:Joe.Deshotel@house.texas.gov"/a>Joe.Deshotel@house.texas.gov</a>; <a href="mailto:Harold.Dutton@house.texas.gov"/a>Harold.Dutton@house.texas.gov</a>; <a href="mailto:Lance.Gooden@house.texas.gov"/a>Lance.Gooden@house.texas.gov</a>; <a href="mailto:Ken.King@house.texas.gov"/a>Ken.King@house.texas.gov</a>; <a href="mailto:Linda.Koop@house.texas.gov"/a>Linda.Koop@house.texas.gov</a>; <a href="mailto:Morgan.Meyer@house.texas.gov"/a>Morgan.Meyer@house.texas.gov</a>; <a href="mailto:Gary.VanDeaver@house.texas.gov"/a>Gary.VanDeaver@house.texas.gov</a>
        </p>
      </div>
    </div>
  </div>
</section>
