<link rel="stylesheet" href="/assets/css/legCommittees.css">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Key Legislative Committees</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- whoRepresent -->
<section class="whoRepresent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
       
    </div>
    <div class="row" style="padding: 0 4rem;">
      <div class="col-12 col-md-3">
        <h4><a href="https://senate.texas.gov/cmte.php?c=530" target="_blank">2019 Senate Committee on Education</a></h4>
          <ul>
            <li>
              <a href="mailto:Larry.Taylor@senate.texas.gov">
              Chair: Senator Larry Taylor</a> (512) 463-0111
            </li>
            <li>
              <a href="mailto:Eddie.Lucio@senate.texas.gov">
              Vice-Chair: Senator Eddie Lucio, Jr.</a> (512) 463-0127
            </li>
            <li>
              <a href="mailto:Paul.Bettencourt@senate.texas.gov">
              Senator Paul Bettencourt</a> (512) 463-0107
            </li>
            <li>
              <a href="mailto:Donna.Campbell@senate.texas.gov">
              Senator Donna Campbell</a> (512) 463-0125
            </li>
            <li> 
              <a href="mailto:Pat.Fallon@senate.texas.gov">
              Senator Pat Fallon</a> (512) 463-0130 </li>
            <li>
              <a href="mailto:Bob.Hall@senate.texas.gov">
               Senator Bob Hall</a> (512) 463-0102
            </li>
            <li>
              <a href="mailto:Bryan.Hughes@senate.texas.gov">
              Senator Bryan Hughes</a> (512) 463-0101
            </li>
            <li>
              <a href="mailto:Angela.Paxton@senate.texas.gov">
              Senator Angela Paxton</a> (512) 463-0108
            </li>
            <li>
              <a href="mailto:Beverly.Powell@senate.texas.gov">
              Senator Beverly Powell</a> (512) 463-0110
            </li>
            <li>
              <a href="mailto:Kirk.Watson@senate.texas.gov">
              Senator Kirk Watson</a> (512) 463-0114
            </li>
            <li>
              <a href="mailto:Royce.West@senate.texas.gov">
              Senator Royce West</a> (512) 463-0123
            </li>
          </ul>

          <p><span class="bold">Cut & Paste option:</span>  Larry.Taylor@senate.texas.gov; Eddie.Lucio@senate.texas.gov; Paul.Bettencourt@senate.texas.gov; Donna.Campbell@senate.texas.gov; 
            Pat.Fallon@senate.texas.gov; Bob.Hall@senate.texas.gov; Brian.Hughes@senate.texas.gov; Angela.Paxton@senate.texas.gov; Beverly.Powell@senate.texas.gov;
            Kirk.Watson@senate.texas.gov; Royce.West@senate.texas.gov

          </p>
      </div>
      <div class="col-12 col-md-3">
        <h4><a href="https://senate.texas.gov/cmte.php?c=540" target="_blank">2019 Senate Committee on Finance</a></h4>
          <ul>
            <li>
              <a href="mailto:Jane.Nelson@senate.texas.gov">
              Chair: Senator Jane Nelson</a> (512) 463-0112
            </li>
            <li>
              <a href="mailto:Juan.hinojosa@senate.texas.gov">
              Vice-Chair: Senator Juan "Chuy" Hinojosa</a> (512) 463-0120
            </li>
            <li>
              <a href="mailto:Paul.Bettencourt@senate.texas.gov">
              Senator Paul Bettencourt</a> (512) 463-0107
            </li>
            <li>
              <a href="mailto:Brian.Birdwell@senate.texas.gov">
              Senator Brian Birdwell</a> (512) 463-0122
            </li>
            <li>
              <a href="mailto:Donna.Campbell@senate.texas.gov">
              Senator Donna Campbell</a> (512) 463-0125
            </li>
            <li> 
              <a href="mailto:Pete.Flores@senate.texas.gov">
              Senator Pete Flores</a> (512) 463-0119 </li>
            <li>
              <a href="mailto:Kelly.Hancock@senate.texas.gov">
               Senator Kelly Hancock</a> (512) 463-0109
            </li>
            <li>
              <a href="mailto:Joan.Huffman@senate.texas.gov">
              Senator Joan Huffman</a> (512) 463-0117
            </li>
            <li>
              <a href="mailto:Lois.Kolkhorst@senate.texas.gov">
              Senator Lois Kolkhorst</a> (512) 463-0118
            </li>
            <li>
              <a href="mailto:Robert.Nichols@senate.texas.gov">
              Senator Robert Nichols</a> (512) 463-0103
            </li>
            <li><a href="mailto:Charles.Perry@senate.texas.gov">
              Senator Charles Perry</a> (512) 463-0128
              </li>
            <li>
              <a href="mailto:Larry.Taylor@senate.texas.gov">
              Senator Larry Taylor</a> (512) 463-0111
            </li>
            <li>
              <a href="mailto:Kirk.Watson@senate.texas.gov">
              Senator Kirk Watson</a> (512) 463-0114
            </li>
            <li>
              <a href="mailto:Royce.West@senate.texas.gov">
              Senator Royce West</a> (512) 463-0123
            </li>
            <li>
              <a href="mailto: John.Whitmire@senate.texas.gov">
                Senator John Whitmire</a> (512) 463-0115
                    </li>
          </ul>
        <p><span class="bold">Cut & Paste option:</span>  Jane.Nelson@senate.texas.gov; Juan.Hinojosa@senate.texas.gov; Paul.Bettencourt@senate.texas.gov; Brian.Birdwell@senate.texas.gov; 
          Donna.Campbell@senate.texas.gov; Pete.Flores@senate.texas.gov; Kelly.Hancock@senate.texas.gov; Joan.Huffman@senat.texas.gov; Lois.Kolkhorst@senate.texas.gov;
          Robert.Nichols@senate.texas.gov; Charles.Perry@senate.texas.gov; Larry.Taylor@senate.texas.gov; Kirk.Watson@senate.texas.gov; Royce.West@senate.texas.gov; 
          John.Whitmire@senate.texas.gov</p>   
      </div>
      
      <div class="col-12 col-md-3">
          <h4><a href="https://house.texas.gov/committees/committee/?committee=C400" target="_blank">2019 House Committee on Public Education</a></h4>
          <ul>
            <li>
              <a href="mailto:Dan.Huberty@house.state.gov">
              Chair: Rep. Dan Huberty</a> (512) 463-0520
            </li>
            <li>
              <a href="mailto:Diego.Bernal@house.state.gov">
              Vice-Chair: Rep. Diego Bernal</a> (512) 463-0532
            </li>
            <li>
              <a href="mailto:Alma.Allen@house.texas.gov">
              Rep. Alma A. Allen</a> (512) 463-0744
            </li>
            <li>
              <a href="mailto:Steve.Allison@house.texas.gov">
              Rep. Steve Allison</a> (512) 463-0686
            </li>
            <li>
              <a href="mailto:Trent.Ashby@house.texas.gov">
              Rep. Trent Ashby</a> (512) 463-0508
            </li>
            <li>
              <a href="mailto:Keith.Bell@house.texas.gov">
              Rep. Keith Bell</a> (512) 463-0458
            </li>
            <li>
              <a href="mailto:Harold.Dutton@house.texas.gov">
              Rep. Harold V. Dutton, Jr.</a> (512) 463-0510
            </li>
            <li>
              <a href="mailto:<Mary.Gonzalez>@house.texas.gov">
              Rep. Mary E. Gonzalez</a> (512) 463-0613
            </li>
            <li>
              <a href="mailto:Ken.King@house.texas.gov">
              Rep. Ken King</a> (512) 463-0736
            </li>
            <li>
              <a href="mailto:Morgan.Meyer@house.texas.gov">
              Rep. Morgan Meyer</a> (512) 463-0367
            </li>
            <li>
              <a href="mailto:Scott.Sanford@house.texas.gov">
              Rep. Scott Sanford</a> (512) 463-0356
            </li>
            <li>
              <a href="mailto:James.Talarico@house.texas.gov">
              Rep. James Talarico</a> (512) 463-0670
            </li>
            <li>
              <a href="mailto:Gary.VanDeaver@house.texas.gov">
              Rep. Gary VanDeaver</a> (512) 463-0692</li>
          </ul>
          <p><span class="bold">Cut & Paste option:</span> Dan.Huberty@house.texas.gov; Diego.Bernal@house.texas.gov; Alma.Allen@house.texas.gov; Steve.Allison@house.texas.gov; Trent.Ashby@house.texas.gov;
          Keith.Bell@house.texas.gov; Harold.Dutton@house.texas.gov; Mary.Gonzalez@house.texas.gov; Ken.King@house.texas.gov; Morgan.Meyer@house.texas.gov; Scott.Sandford@house.texas.gov;
          James.Talarico@house.texas.gov; Gary.VanDeaver@house.texas.gov </p>
        </div>
      <div class="col-12 col-md-3">
        <h4><a href="https://www.house.texas.gov//committees/committee/?committee=C030" target="_blank">2019 House Appropriations Committee</a></h4>
        <ul>
          <li>
            <a href="mailto:John.Zerwas@house.texas.gov">
            Chair John Zerwas</a> (512) 463-0657
          </li>
          <li>
            <a href="mailto:Oscar.Longoria@house.texas.gov">
            Vice Chair Oscar Longoria</a> (512) 463-0645
          </li>
          <li>
            <a href="mailto:Cecil.Bell@house.texas.gov">
            Rep. Cecil Bell</a> (512) 463-0650
          </li>
          <li>
            <a href="mailto:Greg.Bonnen@house.texas.gov">
            Rep. Greg Bonnen</a> (512) 463-0729
          </li>
          <li>
            <a href="mailto:Brad.Buckley@house.texas.gov">
            Rep. Brad Buckley</a> (512) 463-0684
          </li>
          <li>
            <a href="mailto:Giovanni.Capriglione@house.texas.gov">
            Rep. Giovanni Capriglione</a> (512) 463-0690
          </li>
          <li>
            <a href="mailto:Philip.Cortez@house.texas.gov">
            Rep. Philip Cortez</a> (512) 463-0269
          </li>
          <li>
            <a href="mailto:Sarah.Davis@house.texas.gov">
            Rep. Sarah Davis</a> (512) 463-0389
          </li>
          <li>
             <a href="mailto:<Mary.Gonzalez>@house.texas.gov">
              Rep. Mary E. Gonzalez</a> (512) 463-0613
          </li>
          <li>
            <a href="mailto:Cole.Hefner@house.texas.gov">
            Rep. Cole Hefner</a> (512) 463-0271
          </li>
          <li>
            <a href="mailto:Donna.Howard@house.texas.gov">
            Rep. Donna Howard</a> (512) 463-0631
          </li>
          <li>
             <a href="mailto:Jarvis.Johnson@house.texas.gov">
            Rep. Jarvis D. Johnson</a> (512) 463-0554
          </li>
          <li>
             <a href="mailto:Rick.Miller@house.texas.gov">
            Rep. Rick Miller</a> (512) 463-0710
          </li>
          <li>
             <a href="mailto:Ina.Minjarez@house.texas.gov">
            Rep. Ina Minjarez</a> (512) 463-0634
          </li>          
          <li>
             <a href="mailto:Sergio.Munoz@house.texas.gov">
            Rep. Sergio, Munoz, Jr.</a> (512) 463-0613
          </li>
          <li>
             <a href="mailto:Toni.Rose@house.texas.gov">
            Rep. Mary Toni Rose</a> (512) 463-0664
          </li>
          <li>
            <a href="mailto:Matt.Schaefer@house.texas.gov">
              Rep. Matt Schaefer</a> (512) 0584
          </li>
          <li>
             <a href="mailto:j.d.sheffield@house.texas.gov">
            Rep. J.D. Sheffield</a> (512) 463-0628
          </li>
          <li>
             <a href="mailto:Carl.Sherman@house.texas.gov">
            Rep. Carl O. Sherman, Sr.</a> (512) 463-0593
          </li>
          <li>
             <a href="mailto:Reggie.Smith@house.texas.gov">
            Rep. Reggie Smith</a> (512) 463-0297
          </li>
          <li>
             <a href="mailto:Lyn.Stucky@house.texas.gov">
            Rep. Lynn Stucky</a> (512) 463-0582
          </li>
          <li>
             <a href="mailto:Steve.Toth@house.texas.gov">
            Rep. Steve Toth</a> (512) 463-0797
          </li>
          <li>
             <a href="mailto:John.Turner@house.texas.gov">
            Rep. John Turner</a> (512) 463-0579
          </li>
          <li>
            <a href="mailto:Gary.VanDeaver@house.texas.gov">
            Rep. Gary VanDeaver</a> (512) 463-0692
          </li>
          <li>
            <a href="mailto:Armando.Walle@house.texas.gov">
              Rep. Armando Walle</a> (512) 463-0924
          </li>
          <li>
            <a href="mailto:Terry.Wilson@house.texas.gov">
              Rep. Terry Wilson</a> (512) 463-0576
          </li>
          <li>
             <a href="mailto:Carl.Sherman@house.texas.gov">
            Rep. Carl O. Sherman, Sr.</a> (512) 463-0309
          </li>
          <li>
             <a href="mailto:Gene.Wu@house@house.texas.gov">
            Rep. Gene Wu</a> (512) 463-0492
          </li>
        </ul>
        <p><span class="bold">Cut & Paste option:</span> John.Zerwas@house.texas.gov; Oscar.Longoria@house.texas.gov; Cecil.Bell@house.texas.gov; Greg.Bonnen@house.texas.gov; Brad.Buckley@house.texas.gov;
          Giovanni.Capriglione@house.texas.gov; Philip.Cortez@house.texas.gov; Sarah.Davis@house.texas.gov; Mary.Gonzalez@house.texas.gov; Cole.Hefner@house.texas.gov; Donna.Howard@house.texas.gov;
          Jarvis.Johnson@house.texas.gov; Rick.Miller@house.texas.gov; Ina.Minjarez@house.texas.gov; Sergio.Munoz@house.texas.gov; Toni.Rose@house.texas.gov; Matt.Schaefer@house.texas.gov;
          j.d.sheffield@house.texas.gov; Carl.Sherman@house.texas.gov; Reggie.Smith@house.texas.gov; Lynn.Stucky@house.texas.gov; Steve.Toth@house.texas.gov; John.Turner@house.texas.gov;
          Gary.VanDeaver@house.texas.gov; Armando.Walle@house.texas.gov; Terry.Wilson@house.texas.gov; Gene.Wu@house.texas.gov</p>
      </div>
    </div>
  </div>
</section>
