<link rel="stylesheet" href="Legislative Committees">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Legislative Committees</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- whoRepresent -->
<section class="whoRepresent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Who Represents Me?</h3>
        <p>Find Your State legislators and State Board of Education Representative</p>
      </div>
    </div>
    <div class="row">
      <ul>
        <li>
          <p>
            Texas Education Agency; Commissioner Michael Morath: Main Switchboard:
            (512) 463-8985
          </p>
        </li>
        <li>
          <p>
            Governor Greg Abbot: (512) 463-2000;
            <a href="https://gov.texas.gov/contact"/a>Contact</a>
          </p>
        </li>
        <li>
          <p>
            Lt. Governor Dan Patrick: (512) 463-0001;
            <a href="https://www.ltgov.state.tx.us/contact/"/a>Contact</a>
          </p>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h4>2017 Senate Education Committee Members</h4>
          <ul>
            <li>
              Chair: Senator Larry Taylor;(512) 463-0111
              <a href="mailto:Larry.Taylor@senate.texas.gov">
              Larry.Taylor@senate.texas.gov</a>
            </li>
            <li>
              Vice-Chair: Senator Eddie Lucio, Jr.; (512) 463-0127
              <a href="mailto:Eddie.Lucio@senate.texas.gov">
              Eddie.Lucio@senate.texas.gov</a>
            </li>
            <li>
              Senator Paul Bettencourt; (512) 463-0107
              <a href="mailto:Paul.Bettencourt@senate.texas.gov">
              Paul.Bettencourt@senate.texas.gov</a>
            </li>
            <li>
              Senator Donna Campbell; (512) 463-0125
              <a href="mailto:Donna.Campbell@senate.texas.gov">
              Donna.Campbell@senate.texas.gov</a>
            </li>
            <li>
              Senator Bob Hall; (512) 463-0102
              <a href="mailto:Bob.Hall@senate.texas.gov">
              Bob.Hall@senate.texas.gov</a>
            </li>
            <li>
              Senator Don Huffines; (512) 463-0116
              <a href="mailto:Don.Huffines@senate.texas.gov">
              Don.Huffines@senate.texas.gov</a>
            </li>
            <li>
              Senator Bryan Hughes; (512) 463-0101
              <a href="mailto:Bryan.Hughes@senate.texas.gov">
              Bryan.Hughes@senate.texas.gov</a>
            </li>
            <li>Senator Kel Seliger; (512) 463-0131
              <a href="mailto:Kel.Seliger@senate.texas.gov">
              Kel.Seliger@senate.texas.gov</a>
            </li>
            <li>Senator Van Taylor; (512) 463-0108
              <a href="mailto:Van.Taylor@senate.texas.gov">
              Van.Taylor@senate.texas.gov</a>
            </li>
            <li>Senator Royce West; (512) 463-0123
              <a href="mailto:Royce.West@senate.texas.gov">
              Royce.West@senate.texas.gov</a>
            </li>
          </ul>
          <p class=bold>
            Easy cut &amp; paste for mass email <br/>
            <a href="mailto:Larry.Taylor@senate.texas.gov"/a>Larry.Taylor@senate.texas.gov</a>; <a href="mailto:Eddie.Lucio@senate.texas.gov"/a>Eddie.Lucio@senate.texas.gov</a>; <a href="mailto:Paul.Bettencourt@senate.texas.gov"/a>Paul.Bettencourt@senate.texas.gov</a>; <a href="mailto:Donna.Campbell@senate.texas.gov"/a>Donna.Campbell@senate.texas.gov</a>; <a href="mailto:Bob.Hall@senate.texas.gov"/a>Bob.Hall@senate.texas.gov</a>; <a href="mailto:Don.Huffines@senate.texas.gov"/a>Don.Huffines@senate.texas.gov</a>; <a href="mailto:Bryan.Hughes@senate.texas.gov"/a>Bryan.Hughes@senate.texas.gov</a>; <a href="mailto:Kel.Seliger@senate.texas.gov"/a>Kel.Seliger@senate.texas.gov</a>; <a href="mailto:Van.Taylor@senate.texas.gov"/a>Van.Taylor@senate.texas.gov</a>; <a href="mailto:Royce.West@senate.texas.gov"/a>Royce.West@senate.texas.gov</a>
          </p>
      </div>
      <div class="col-12 col-md-6">
          <h4>2017 House Education Committee Members</h4>
          <ul>
            <li>
              Chair: Rep. Dan Huberty;(512) 463-0520
              <a href="mailto:Dan.Huberty@house.state.gov">
              Dan.Huberty@house.texas.gov</a>
            </li>
            <li>
              Vice-Chair: Rep. Diego Bernal; (512) 463-0532
              <a href="mailto:Diego.Bernal@house.state.gov">
              Diego.Bernal@house.texas.gov</a>
            </li>
            <li>
              Rep. Alma A. Allen; (512) 463-0744
              <a href="mailto:Alma.Allen@house.texas.gov">
              Alma.Allen@house.texas.gov</a>
            </li>
            <li>
              Rep. Dwayne.Bohac; (512) 463-0727
              <a href="mailto:Dwayne.Bohac@house.texas.gov">
              Dwayne.Bohac@house.texas.gov</a>
            </li>
            <li>
              Rep. Joseph "Joe" Deshotel; (512) 463-0662
              <a href="mailto:Joe.Deshotel@house.texas.gov">
              Joe.Deshotel@house.texas.gov</a>
            </li>
            <li>
              Rep. Harold V. Dutton, Jr.; (512) 463-0510
              <a href="mailto:Harold.Dutton@house.texas.gov">
              Harold.Dutton@house.texas.gov</a>
            </li>
            <li>
              Rep. Lance Gooden; (512) 463-0458
              <a href="mailto:Lance.Gooden@house.texas.gov">
              Lance.Gooden@house.texas.gov</a>
            </li>
            <li>
              Rep. Ken King; (512) 463-0736
              <a href="mailto:Ken.King@house.texas.gov">
              Ken.King@house.texas.gov</a>
            </li>
            <li>
              Rep. Linda Koop; (512) 463-0454
              <a href="mailto:Linda.Koop@house.texas.gov">
              Linda.Koop@house.texas.gov</a>
            </li>
            <li>
              Rep. Morgan Meyer (512) 463-0367
              <a href="mailto:Morgan Meyer@house.texas.gov">
              Morgan.Meyer@house.texas.gov</a>
            </li>
            <li>
              Rep. Gary VanDeaver (512) 463-0692
              <a href="mailto:Gary.VanDeaver@house.texas.gov">
              Gary.VanDeaver@house.texas.gov</a>
            </li>
          </ul>
          <p>
            Easy cut &amp; paste for mass email <br/>
            <a href="mailto:Dan.Huberty@house.state.gov"/a>Dan.Huberty@house.texas.gov</a>; <a href="mailto:Diego.Bernal@house.state.gov"/a>Diego.Bernal@house.texas.gov</a>; <a href="mailto:Alma.Allen@house.texas.gov"/a>Alma.Allen@house.texas.gov</a>; <a href="mailto:Dwayne.Bohac@house.texas.gov"/a>Dwayne.Bohac@house.texas.gov</a>; <a href="mailto:Joe.Deshotel@house.texas.gov"/a>Joe.Deshotel@house.texas.gov</a>; <a href="mailto:Harold.Dutton@house.texas.gov"/a>Harold.Dutton@house.texas.gov</a>; <a href="mailto:Lance.Gooden@house.texas.gov"/a>Lance.Gooden@house.texas.gov</a>; <a href="mailto:Ken.King@house.texas.gov"/a>Ken.King@house.texas.gov</a>; <a href="mailto:Linda.Koop@house.texas.gov"/a>Linda.Koop@house.texas.gov</a>; <a href="mailto:Morgan.Meyer@house.texas.gov"/a>Morgan.Meyer@house.texas.gov</a>; <a href="mailto:Gary.VanDeaver@house.texas.gov"/a>Gary.VanDeaver@house.texas.gov</a>
          </p>
      </div>
    </div>
  </div>
</section>