<link rel="stylesheet" href="/assets/css/legislature.css">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">TAMSA Advocacy Tools & Legislative Priorities</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- help -->
<section class="help">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 display-desktop">
        <h4>Important Dates</h4>
        <ul>
          <li>November 6, 2018 - General Election</li>
          <li>November 12, 2018 - First day to pre-file legislation</li>
          <li>January 8, 2019 - First day of legislative session</li>
          <li>March 8, 2019 - Last day to file unrestricted legislation</li>
          <li>May 27, 2019 - Last day of the 86th Regular Session</li>
          <li>June 16, 2019 - Last day the governor may sign or veto bills passed
            during the regular session</li>
          <li>August 26, 2019 - Date bills without specific effective dates/immediate
              effect become law</li>
        </ul>
      </div>
      <div class="col-12 col-md-8 my-2">
        <h3>2019 Advocacy Agenda</h3>
          <div class="hide-desktop">
            <div class="row">
              <a class="btn btn-lg" data-toggle="collapse" href="#datesCollapse" role="button" aria-expanded="false">Important Dates</a>
              <div class="collapse" id="datesCollapse">
                <div class="card card-body">
                  <h4>Important Dates</h4>
                  <ul>
                    <li>November 6, 2018 - General Election</li>
                    <li>November 12, 2018 - First day to pre-file legislation</li>
                    <li>January 8, 2019 - First day of legislative session</li>
                    <li>March 8, 2019 - Last day to file unrestricted legislation</li>
                    <li>May 27, 2019 - Last day of the 86th Regular Session</li>
                    <li>June 16, 2019 - Last day the governor may sign or veto bills passed
                      during the regular session</li>
                    <li>August 26, 2019 - Date bills without specific effective dates/immediate
                        effect become law</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card">
                <img class="card-img-top" src="https://placehold.it/300x180" alt="card img">
                <div class="card-body">
                  <p></p>
                  <a class="btn" href="/legPriorities">2019 Legislative Priorities<a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <img class="card-img-top" src="https://placehold.it/300x180" alt="card img">
                <div class="card-body">
                  <p></p>
                  <a class="btn" href="/billTracker">2019 Bill Tracker<a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <img class="card-img-top" src="https://placehold.it/300x180" alt="card img">
                <div class="card-body">
                  <p></p>
                  <a class="btn" href="/legCommittees">Legislative Committees<a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <img class="card-img-top" src="https://placehold.it/300x180" alt="card img">
                <div class="card-body">
                  <p></p>
                  <a class="btn" href="/resources">Resources<a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


