<link rel="stylesheet" href="/assets/css/billTracker.handlebars">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Legislative Priotities</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- represent -->
<section class="represent">
  <div class="container my-2">
    <h4>Legislative Recommendations - 86th Legislative Session</h4> <a href="assets/pdf/TAMSA_Recommendations_for_86th_Legislative_Session.pdf" target="blank">Click here to download pdf version</a> 
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><p>TAMSA is a 100% volunteer, statewide, grassroots organization comprised of concerned parents and 
        community members who seek an alternative to the financial, developmental, and emotional toll high-stakes STAAR tests are 
        inflicting on our children.</p>

       <p>TAMSA advocates for meaningful assessments that provide timely and relevant information to parents, students, and teachers. 
        STAAR tests are very expensive, both in administration and remediation. We need to improve public education through the use 
        of effective student assessments that allow for more productive classroom instruction and more efficient use of public funds. 
        TAMSA urges you to take the following actions.</p>
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#oneCollapse" role="button"
          aria-expanded="false"><span class="bold">
          1. No High Stakes on State Assessments.</span>
        </a>
      </li>
        <ul class="collapse" id="oneCollapse">
          <li><span class="bold">Problem:</span> The high-stakes associated with standardized tests should be removed from our 
            students and new high-stakes should not be introduced into the school funding formula. 
            Denying students grade promotion or a diploma based on a single measure when they have met
            all other requirements places too much emphasis on standardized testing. Tying school finance 
            to a standardized assessment exacerbates the current system of testing rather than encouraging
            a system of learning. Standardized tests were not designed to be a funding mechanism. States are decreasing the stress on children and today 
            38 states no  longer tie high-stakes to standardized testing.</li>
          <p><li><span class="bold">Solution:</span> Performance level on state assessments should not be tied to promotion in grades 5 and 8. 
            State mandated assessments should not be tied to high school graduation requirements. Do not 
            include state mandated assessments in the school finance formula or incentives. 
            Use the test results for reporting purposes only.</li></p>
          <li><span class="bold">Bill Language:</span> House Bill 1321, Landgraf, as filed in the 85th legislative session.</li>
        </ul>
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#twoCollapse" role="button"
          aria-expanded="false"><span class="bold">
          2. Assessments that Provide Timely and Useful Feedback.</span>
        </a>
      </li>
        <ul class="collapse" id="twoCollapse">
          <li><span class="bold">Problem:</span> Current state assessments are neither diagnostic nor timely. The assessments 
            do not specify a child’s areas of strength or weakness in order to provide feedback to 
            parents, students, or teachers. The current questions are not written in reading levels 
            appropriate to their grade level. The scores are sent after the school year is over. Thus, 
            these assessments are not assisting our children’s educational attainment.   </li>
          <p><li><span class="bold">Solution:</span> Require state assessments to be diagnostic and grade-level appropriate and
            ensure the results are provided within a timeframe to provide useful feedback to enrich
            our children’s learning.</li></p>
          <li><span class="bold">Bill Language:</span> Add the following to TEC Sec. 39.023 (a): These assessments shall diagnose
            and provide timely feedback for the grade-level standards on which a student has demonstrated 
            proficiency.</li>
        </ul>
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#threeCollapse" role="button"
          aria-expanded="false"><span class="bold">
          3. Remove the Sunset Date for the Individual Graduation Committees.</span>
        </a>
      </li>
        <ul class="collapse" id="threeCollapse">
          <li><span class="bold">Problem:</span> Passage of state mandated assessments should not be tied to high school requirements. 
            If high-stakes are not removed from the testing system, it is imperative to offer an option for 
            students to have an alternative path to graduation. </li>
          <p><li><span class="bold">Solution:</span> Remove the sunset date from statutory language.</li></p>
          <li><span class="bold">Bill Language:</span> Senate Bill 213, Seliger, as filed in the 86th legislative session.</li>
        </ul>
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#fourCollapse" role="button"
          aria-expanded="false"><span class="bold">
          4. Test No More Than Required by Federal Law.</span>
        </a>
      </li>
        <ul class="collapse" id="fourCollapse">
          <li><span class="bold">Problem:</span> Federal law requires each child be tested every year in grades 3-8 in reading and math, 
            and twice in science. Texas exceeds that with two additional writing tests and one additional social 
            studies test. In high school, students must be tested once in three subjects: reading, math, and 
            science. Texas exceeds that with an additional history and English test, and two incorporated writing tests. Texsa is over-testing 
            and under-investing.</li>
          <p><li><span class="bold">Solution:</span> Writing is best assessed through classroom projects that are evaluated by certified teachers. 
            Texas should eliminate the following tests: </li>
            <ul>
              <li>4th grade writing</li>
              <li>7th grade writing</li>
              <li>8th grade social studies</li>
              <li>English II EOC</li>
              <li>U.S. History EOC</li>
              <li>Writing in English I EOC</li>
            </ul></p>
          <li><span class="bold">Bill Language:</span> House Bill 515, VanDeaver, as originally filed in the 85th legislative session.</li>
        </ul>
      </li>
    <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#fiveCollapse" role="button"
          aria-expanded="false"><span class="bold">
          5. Replace STAAR with National Assessments 
        </a></span>
      </li>
        <ul class="collapse" id="fiveCollapse">
          <li><span class="bold">Problem:</span> Students in grades 3-8 are not permitted to substitute nationally recognized assessments for STAAR. 
            In high school the PSAT, ACT and SAT can now be substitute assessments but they are de-valued in the accountability system. 
            This decision creates conflict between what is good for the district’s rating vs. what is in the best interest of students. 
            It also forces expenditure of limited resources on assessments that have no positive impact on a student’s progress to college and career.</li>
          <p><li><span class="bold">Solution:</span> </li>
            <ul>
              <li>Allow students in grades 3-8 to use nationally recognized assessments in place of STAAR, get a weaiver from USDE if needed.</li>
              <li>Do not attach high-stakes of any kind to these exams and do not assign cut-scores.</li>
              <li>National assessments should earn equal weight as state assessments in the accountability system.</li>
            </ul></p>
          <li><span class="bold">Bill Language:</span> House Bill 1993, Anderson, as filed in the 85th Legislative
            Session.</li>
        </ul>
      </li>
    </ol>
  </div>
</section>
 