<link rel="stylesheet" href="/assets/css/billTracker.handlebars">

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Legislative Priotities</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- represent -->
<section class="represent">
  <div class="container my-2">
    <h4>Legislative Recommendations - 86th Legislative Session</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">TAMSA advocates for meaningful assessments that provide
        timely and relevant information to teachers, parents, and students. We need to protect
        our most vulnerable children – learning different, special education, and English
        Language Learners – who are unduly punished by high stakes testing. TAMSA urges you to
        take the following actions.
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#oneCollapse" role="button"
          aria-expanded="false">
          1. Remove all high-stakes from the tests
        </a>
      </li>
        <ul class="collapse" id="oneCollapse">
          <li>Problem: Denying students a diploma based on a single measure when they have met
            all other graduation requirements puts them at high risk of poor post-secondary
            outcomes.</li>
          <li>Solution: Performance level on state assessments should not be tied to promotion
            in grades 5 and 8. State mandated assessments should not be tied to high school
            graduation requirements.</li>
          <li>Bill Language: House Bill 1321, Landgraf, as filed in the 85th Legislative
            Session.</li>
        </ul>
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#twoCollapse" role="button"
          aria-expanded="false">
          2. Test no more than required by federal law
        </a>
      </li>
        <ul class="collapse" id="twoCollapse">
          <li>Problem: Federal law requires each child be tested every year in grades 3-8 in
            reading and math, and twice in science. Texas exceeds that with 2 additional
            writing tests and 1 additional social studies test. In high school, students must
            be tested once in three subjects: reading, math, and science. Texas exceeds that
            with an additional history and English test, and two incorporated writing tests.</li>
          <li>Solution: Writing is best assessed through classroom projects that are evaluated
            by certified teachers. Texas should eliminate the following tests: </li>
            <ul>
              <li>4th grade writing</li>
              <li>7th grade writing</li>
              <li>8th grade social studies</li>
              <li>English II EOC</li>
              <li>U.S. History EOC</li>
              <li>Writing in English I EOC</li>
            </ul>
          <li>Bill Language: House Bill 515, VanDeaver as filed in the 85th Legislative
            Session.</li>
        </ul>
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#threeCollapse" role="button"
          aria-expanded="false">
          3. Remove the sunset date for the Graduation Committee.
        </a>
      </li>
        <ul class="collapse" id="threeCollapse">
          <li>Problem: If high stakes are not removed from the testing system, it is imperative
            to offer an option for students to have an alternative path to graduation that is
            available to them.</li>
          <li>Solution: Remove the sunset date from statutory language.</li>
          <li>Bill Language: Senate Bill 463, Seliger, as filed in the 85th Legislative Session.</li>
        </ul>
      <li class="list-group-item bold">
        <a class="btn btn-lg" data-toggle="collapse" href="#fourCollapse" role="button"
          aria-expanded="false">
          4. Replace STAAR with national assessments that provide timely and useful feedback.
        </a>
      </li>
        <ul class="collapse" id="fourCollapse">
          <li>Problem: Current state assessments are not diagnostic as such they are not
            assisting our children’s educational environment.</li>
          <li>Solution: Use diagnostic assessments that are proven age-appropriate and give
            timely, useful feedback to gauge how children are learning.</li>
            <ul>
              <li>Grades 3-8: use NRTs, such at Stanford, ITBS or ACT Aspire. Another option
                is using adaptive tests, such as MAPS, which give immediate diagnostic results
                that aid instruction.</li>
              <li>High schools: PSAT/ACT equivalent in 9th or 10th grade, or ACT/SAT/TSI in
                11th grade.</li>
              <li>Texas should not attach high-stakes through use of cut-scores.</li>
            </ul>
          <li>Bill Language: House Bill 1993, Anderson, as filed in the 85th Legislative
            Session.</li>
        </ul>
      </li>
    </ol>
  </div>
</section>
