<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">TAMSA in the News</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="year">2019</h5>
        <ul>
            <li>January 21, 2019 - Houston Public Media <a href="https://www.houstonpublicmedia.org/articles/news/education-news/2019/01/21/318626/some-parents-concerned-increased-school-funding-could-be-tied-to-standardized-tests/" target ="_blank"> TAMSA Board Member, Chris Vierra, 
            talks about why tying funding to 3rd grade tests is wrong.</a></li>
            <li>Breaking News - January 28, 2019 - TAMSA Press Release: <a href="/assets/pdf/TAMSA_Poll_Press_Release_012819.pdf" target="_blank">Texans Oppose Tying School Funding to Testing</a></li>
            <li>Breaking News - January 28, 2019 - Texans speak out: <a href="/assets/pdf/TAMSA_One_Pager_2019_Poll.pdf" target="_blank">98% of Texans Oppose Tying School Funding to Standardized Tests</a></li>
            </ul>
        <h5 class="year">2017</h5>
        <ul>
            <li>January 12, 2017 - Fox 7 Austin: <a href="http://www.fox7austin.com/news/local-news/228810901-story" target="_blank">Lawmakers hoping to help students who have trouble passing STAAR</a></li>
            <li>January 12, 2017 - The Texas Tribune: <a href="https://www.texastribune.org/2017/01/12/legislators-tout-graduation-committees-students-wh/" target="_blank">Bills would continue graduation committees for students who failed STAAR</a></li>
            <li>January 5, 2017 - Huffington Post: <a href="http://www.huffingtonpost.com/entry/standardized-tests-are-so-bad-i-cant-answer-these_us_586d5517e4b0c3539e80c341" target="_blank">I Can't Answer These Texas Standardized Test Questions About My Own Poems</a> </li>
            <li>January 4, 2017 - Star-Telegram: <a href="http://www.star-telegram.com/news/local/community/fort-worth/article124530389.html" target="_blank"> Educators not happy with 'what-if' report using A-F grades</a></li>        </ul>
        <h5 class="year">2016</h5>
        <ul>
            <li>May 3, 2016 - Dallas Morning News: <a href="/uploads/3/4/4/6/34460330/melissa_cooper_dont_judge_a_fish_by_a_staar_test_final.pdf" target="_blank">Don't Judge a Fish by a STAAR Test</a></li>
            <li>April 7, 2016 - The Texas Tribune:<a href="http://www.texasaft.org/report-fails-to-allay-concerns-about-state-testing/" target="_blank"> 14,000-Plus STAAR Exams Affected by Computer Glitch</a></li>
            <li>April 5, 2016 - ATF: <a href="http://www.texasaft.org/report-fails-to-allay-concerns-about-state-testing/" target="_blank">Report Fails to Allay Concerns about State Testing</a></li>
        </ul>
        <h5 class="year">2015</h5>
        <ul>
            <li>January 18, 2015- Washington Post: <a href="http://www.washingtonpost.com/blogs/answer-sheet/wp/2015/01/18/principal-to-congress-i-was-wrong-when-i-supported-nclb-heres-how-to-fix-it/" target="_blank">Principal to Congress: I was wrong when I supported NCLB. Learn from my mistake</a></li>
            <li>October 2015-Letter from Leander ISD: <a href="/uploads/3/4/4/6/34460330/letter_from_leander_isd.pdf" target="_blank"> Leander ISD passes resolution to modify current high stakes testing system</a></li>
        </ul>

        <h5 class="year">2014</h5>
        <ul>
            <li>April 26, 2014- Madness from the Middle: The Fault(s) in our STAARS</li>
            <li>June 1, 2014- NPR ed: In Kentucky, Moving Beyond Dependence on Tests</li>
            <li>April 1, 2014 - Dallas Morning News: <a href="http://res.dallasnews.com/interactives/2014_March/standardized_tests/part3/" target="_blank">How the Texas Testing Bubble Popped: Part 3 Testing System Shaken to Its Core</a></li>
            <li>March 31, 2014 - Dallas Morning News:<a href="http://res.dallasnews.com/interactives/2014_March/standardized_tests/part2/" target="_blank"> How the Texas Testing Bubble Popped: Part 2 "The Hear of the Vampire"</a></li>
            <li>March 30, 2014 - Dallas Morning News:<a href="http://res.dallasnews.com/interactives/2014_March/standardized_tests/part1/" target="_blank"> How the Texas Testing Bubble Popped: Part 1 One Mom's Ire Becomes a Cause</a></li>
            <li>March 5, 2014 - New York Times: <a href="http://mobile.nytimes.com/2014/03/06/education/major-changes-in-sat-announced-by-college-board.html?_r=1&referrer=" target="_blank"> A New SAT Aims to Realign With Schoolwork</a></li>
            <li>March 3, 2014 - Washington Post: <a href="http://www.washingtonpost.com/blogs/answer-sheet/wp/2014/03/03/why-school-isnt-for-children-anymore-teacher/" target="_blank"> Why School Isn’t for Children Anymore — Teacher</a></li>
            <li>February 7, 2014 - Huffington Post:<a href="http://www.huffingtonpost.com/2014/02/07/new-york-common-core-stress_n_4747863.html?&ir=Education&ncid=tweetlnkushpmg00000023" target="_blank"> New York Students Are Incredibly Stressed Out About Standardized Testing, Survey Says</a></li>
            <li>January 21, 2014 - Dallas News:<a href="http://ireader.olivesoftware.com/Olive/iReader/DMN/SharedArticle.ashx?document=DMN%5C2014%5C01%5C22&article=Ar00102" target="_blank"> 24% Yet to Pass STAAR</a></li>

        </ul>

        <h5 class="year">2013</h5>
        <ul>
            <li>December 23, 2013 - Dallas Morning News:<a href="http://res.dallasnews.com/interactives/2013_December/texan-of-the-year/tamsa/" target="_blank"> Texan of the Year Finalist: TAMSA</li>
            <li>December 9, 2013 - Cloaking Inequity: <a href="http://cloakinginequity.com/2013/12/09/high-stakes-decisions-the-legal-landscape-of-exit-exams-required-to-graduate/" target="_blank"> High-Stakes Decisions: The Legal Landscape of Exit Exams Required to Graduate</a></li>
            <li>November 22, 2013 - Huffington Post:<a href="http://www.huffingtonpost.com/jason-stanford/arne-duncan-common-core_b_4317457.html" target="_blank"> What Arne Duncan Can Learn From Texas Moms</a></li>
            <li>October 20, 2013 - Behind Frenemy Lines: <a href="http://jasonstanford.org/2013/10/texas-test-wars-a-new-hope/" target="_blank"> Texas Test Wars: A New Hope</a></li>
            <li>September 30, 2013 - Texas Tribune:<a href="http://www.texastribune.org/2013/09/30/still-no-waiver-texas-no-child-left-behind/" target="_blank" State Gets Waiver From No Child Left Behind</li>
            <li>September 23, 2013 - Houston Chronicle:<a href="http://www.houstonchronicle.com/news/education/article/2-local-school-districts-balk-at-double-testing-4834910.php" target="_blank"> 2 Local SchoolDistricts Balk at Double Testing</a></li>
            <li>September 12, 2013 - Texas Tribune: Despite Effort to Curb Cheating on Tests, Doubts Remain</li>
            <li>September 3, 2013 - Houston Chronicle: 1 State Law & 1 Federal Law = 2 Math Tests for 8th Graders</li>
            <li>August 21, 2013 - Washington Post: Poll: Most Americans Sick of High-Stakes Standardized Tests</li>
            <li>August 21, 2013 - Dallas News: National Poll Shows Texas Reversal on High-Stakes Testing is Part of a Broad Trend</li>
            <li>August 13, 2013 - New York Times: In Testing, a Principal Leans on Her Experience</li>
            <li>August 13, 2013 - Huffington Post: Are Public School Headed for a Wall Street-style Crash?</li>
            <li>August 8, 2013 - Texas Tribune: Under New State Ratings, Most Schools Met Standards</li>
            <li>August 1, 2013 - Texas Tribune: High School Students Will Take Fewer State Tests</li>
            <li>August 1, 2013 - Houston Chronicle: Devil Is in Details of New Testing, Graduation Rule</li>
            <li>August 1, 2013 - Texas Lone Star Magazine: How to Run a Successful Advocacy Campaign</li>
            <li>July 20, 2013 - Behind Frenemy Lines: Why are kids being held more accountable than Pearson?</li>
            <li>July 19,2013 - Texas Tribune: Leave HB 5 to School Districts, Aycock Tells SBOE</li>
            <li>July 16, 2013 - Texas Tribune: State Auditor Finds Testing Contract Oversight Lacking</li>
            <li>July 14, 2013 - Texas Tribune: Districts Prepare for New High School Diploma Rules</li>
            <li>July 6, 2013 - Austin American Statesman: Many Students Struggle to Pass STAAR Even on 2nd Attempt</li>
            <li>June 10, 2013 - Texas Tribune: Perry Signs High School Curriculum, Testing Bill</li>
            <li>June 10, 2013: -Austin American Statesman: Gov. Perry Signs Sweeping Education Bill</li>
            <li>June 10, 2013 - Washington Post: Texas Governor Signs Legislation to Reduce Standardized Testing</li>
            <li>June 6, 2013 - Westlake Picayune: Texas Public Education System Needs Repairs to Get on Track</li>
            <li>June 4, 2013 - San Antonio Express: Perry Urged to Sign Bill to Reduce Exams</li>
            <li>June 3, 2013 - El Paso Times: El Paso Educators Praise Bill That Would Reduce State Mandated Testing</li>
            <li>May 29, 2013 - Austin American Statesman: Legislature Avoided Extremes in Reforming Public Education</li>
            <li>May 26, 2013 - NBC: Enough! Facing Backlash from Parents, Texas Cuts Back on Student Testing</li>
            <li>May 26, 2013 - Clocking Inequity: Students Get Some Relief/Freedom from Testing in Texas?</li>
            <li>May 23, 2013 - Texas Tribune: Possible Deal on Testing, Charter School Bills</li>
            <li>May 23, 2013 - Austin American Statesman: Charter School, Testing Bills Will Pass or Die Together</li>
            <li>May 22, 2013 - Texas Tribune: Lawmakers to Negotiate Key Details of Education Bills</li>
            <li>May 21, 2013 - Texas Tribune: Bill Reducing Testing for Lower Grades Clears Senate</li>
            <li>May 10, 2013 - Houston Chronicle: Fewer State School Tests Will Help Our Kids Learn</li>
            <li>May 10, 2013 - Dallas Morning News: House Rejects Senate Changes in Bill to Overhaul Texas School Testing, Accountability System</li>
            <li>May 2013 - TED Talks: How to Escape Education's Death Valley</li>
            <li>May 6, 2013 - Austin American Statesman: Major Testing Measure Clears Texas Senate</li>
            <li>May 6, 2013 - Texas Tribune: Senate Approves New High School Graduation Plan</li>
            <li>May 2, 2013 - Diane Ravitch: We Cannot "Measure What We Treasure"</li>
            <li>May 2, 2013: Austin American Statesman: House Bill Exempts High Performers From Some STAAR Tests</li>
            <li>April 28, 2013 - Austin American Statesman: Mom's Group Shakes Up Status Quo in Texas' Testing Regimen</li>
            <li>April 25, 2013 -The Atlantic: The Coming Revolution in Public Education</li>
            <li>April 23, 2013 - Texas Tribune: Senate Panel Discusses Scrutiny of Testing Contracts</li>
            <li>April 22, 2013 - Dallas News: New STAAR Test Standards Guarantee Some Texas Special Ed Students Will Fail</li>
            <li>April 21, 2103 - Texas Tribune: In Bid to Pare Exams, Lawmakers Target Testing Firm</li>
            <li>April 21, 2013 - Austin American Statesman: State Tests Impede Learning</li>
            <li>April 20, 2013 - Austin American Statesman: STAAR Writing Test a Big Step Backwards</li>
            <li>April 18, 2013 - Texas Monthly: Crash Test</li>
            <li>April 16, 2013 - Texas Tribune: High School Curriculum Bill Headed to Senate Floor</li>
            <li>April 16, 2013 - Austin American Statesman: Patrick: Texas Not "Dumbing Down" Education Standards</li>
            <li>April 11, 2013: New York Times: Texas Considers Backtracking on Testing</li>
            <li>April 10, 2013 - MSNBC: ‘Test-and-Punish’ Sabotages Quality of Children’s Education</li>
            <li>April 10, 2013 - Behind Frenemy Lines: Who's Getting Held Accountable?</li>
            <li>April 7, 2013 - The Monitor: Schools Wrap Up STAAR Amid Uncertainty on Testing Requirements</li>
            <li>April 6, 2013 - Washington Post: ‘My Profession … No Longer Exists’</li>
            <li>April 2, 2013 - Texas Tribune: Williams Certifies Ban on Social Promotion</li>
            <li>April 2, 2013 - Texas Tribune: Lawmakers Examine High-Stakes Testing in Lower Grades</li>
            <li>April 2, 2013 - Education Week: Texas Parents Join Forces to Reduce Testing</li>
            <li>April 2, 2013 - YahooNews: Student Suspended for Tweeting Photo of “YOLO” Written on Test</li>
            <li>March 26, 2013 - Texas Tribune: Texas Leads in Tests But Not Education</li>
            <li>March 26, 2013 - Texas Tribune: Battle Lines Form as Texas House Tackles Testing Bill</li>
            <li>March 25, 2013 - Star_Telegram: Texas Moms Unite to Rein in State's End-of-Course Testing</li>
            <li>March 24, 2013 - Jobs for Texas Coalition Press Release: HB5 Support</li>
            <li>March 21, 2013 - Texas Tribune: Gains on State Exams Don't Translate to National Tests</li>
            <li>March 20, 2013 - Rep. Aycock (Chair of House Ed Committee): HB 5: Expanding Opportunities for Young Texans</li>
            <li>March 17, 2013 - Wall Street Journal: Two-Stepping to Excellent Schools</li>
            <li>March 17, 2013 - TimesRecordNews: Educator Says STAAR Unnecessary</li>
            <li>March 17, 2013 - Houston Chronicle: Legislators Struggle with Testing Issue</li>
            <li>March 8, 2013 - Austin American Statesmen: Patrick Backs 4 or 5 STAAR Tests for Graduation</li>
            <li>March 1, 2013 - Austin American Statesman: Teaching to the Test Isn't Teaching at All</li>
            <li>February 28, 2013 - Houston Chronicle: State Testing Fails Immigrant Students and Their Teachers</li>
            <li>February 26, 2013 - Austin American Statesman: Perry Gets Behind Examining STAAR Requirements</li>
            <li>February 26, 2013 - Houston Chronicle: Testing in Texas Has Gone Too Far, Say Key Insiders</li>
            <li>February 23, 2013 - Austin American Statesman: Thousands Rally at Capitol Over School Funding, Tests</li>
            <li>February 19, 2013 - Texas Tribune: Texas Senators Slam State's Testing Regime</li>
            <li>February 19, 2013 - Texas Observer: Students School Senators on Failings of Texas’ Testing Regime</li>
            <li>February 19, 2013 - Austin American Statesman: Senators Turn Sights on Wayward STAAR</li>
            <li>February 16, 2013 - MySanAntonio.com: Poverty's Impact Seen in Tests</li>
            <li>February 15, 2013 - Behind FrenemyLines: Is High Stakes Testing Ending in Texas?</li>
            <li>February 9, 2013 - Washington Post: A Warning to College Profs from a High School Teacher</li>
            <li>February 9, 2013 - New York Times: The Secret to Fixing Bad Schools</li>
            <li>February 8, 2013 - Westlake Picayune: State Must Find New Way to Assess Accountability, Improve Education</li>
            <li>February 7, 2013 - Austin American Statesman: Reset State’s Testing System</li>
            <li>February 6, 2013 - Austin American Statesman: House Ed Leaders Call for Sharp Reduction in STAAR Tests</li>
            <li>February 4, 2013 - Austin American Statesman: Judge: School Finance System Unconstitutional</li>
            <li>February 1, 2013 - Texas Observer: Can A Few Good Schools Make an Split with Texas’ Accountability System?</li>
            <li>January 28, 2013 - Houston Public Radio: Texas To Release New Test Results Amid Battle Over High-Stakes Testing</li>
            <li>January 27, 2013 - MySanAntonio.com: Why the STAAR Exam Inspires Bipartisan Hate</li>
            <li>January 22, 2013 - Press Release: Villarreal Files Bill to Strip “High Stakes” Provisions from School Tests</li>
            <li>January 18, 2013 - Texas AFT Hotline: It’s Time for a Time-Out on Implementation of Flawed STAAR Testing</li>
            <li>January 15, 2013 - SENATE Version of Testing Language</li>
            <li>January 15, 2013 - HOUSE Version of Testing Language</li>
            <li>January 15, 2013 - Lufkin News: A New Plan for Texas Schools</li>
            <li>January 14, 2013 - Press Release: Holding Districts Accountable Through Craigslist?</li>
            <li>January 14, 2013 - Austin American Statesman: State Budgets Call for Cuts Despite Sunnier Revenue Picture</li>
            <li>January 10, 2013 - KVUE News: The Price of Pearson</li>
            <li>January 10, 2013 - Texas Tribune: TEA Commissioner Williams on Accountability and Testing</li>
            <li>January 8, 2013 - Speaker Joe Straus: Open Day Address</li>
            <li>January 8, 2013 - Houston Chronicle: Parents Group Brings Concerns About Too Many Tests to Fort Bend County</li>
            <li>January 6, 2013 - Austin American Statesman: School Testing System Badly Needs Fixing</li>
            <li>January 4, 2013 - Thomas Ratliff, State Board of Education: Come On, Man!</li>
        </ul>

        <h5 class="year">2012</h5>
        <ul>
            <li>December 30, 2012 - ReporterNews.com: Government Overreach Causes Student Suffering</li>
            <li>December 26, 2012 - Dallas Morning News: We Need a Multiple-Pathway Approach to High School</li>
            <li>December 24, 2012 - Bay Area Citizen: CCISD Holds Forum for Advocacy Group</li>
            <li>December 22, 2012 - West University Examiner: TAMSA Picking Up Steam as Legislative Session Nears</li>
            <li>December 14, 2012 - Abiline Online: Texas Education Chief Answers Questions on STAAR</li>
            <li>December 13, 2012 - The Friendswood Journal: EOC Testing System Needs to be Changed</li>
            <li>December 12, 2012 - Austin American Statesman: Fewer Tests, More Flexibility Proposed for STAAR</li>
            <li>December 6, 2012 - Austin American Statesman: Williams: Testing Helped More Students Graduate</li>
            <li>December 5, 2012 - Odessa American: The STAAR Has Dimmed</li>
            <li>December 5, 2012 - MyWestTeaxs.com: State Struggles With Best Way to Test Students' Academic Readiness</li>
            <li>December 4, 2013 - Cross Timbers Gazette: High-Stakes Testing Doesn't Make The Grade</li>
            <li>December 4, 2012 - Houston ABC News: Computer Glitch Delays Some STAAR Retesting</li>
            <li>December 1, 2012 - Austin American Stateman: STAAR Scores Won't Count in Course Grade This Year</li>
            <li>November 29, 2012 - Thomas Ratliff, State Board of Education - The Truth About High-Stakes Testing</li>
            <li>November 16, 2012 - City of Deer Park - TAMSA gives PTOs insight to design flaws of STAAR</li>
            <li>November 3, 2012 - Austin American Statesman - Political winds shifting over testing, accountability</li>
            <li>November 2, 2012 - The Dallas Morning News - Our Q&A with John Kuhn on school’s over-reliance on testing</li>
            <li>October 30, 2012 - Dineen J. Majcher - Comments before Senate Education Committee</li>
            <li>October 30, 2012 - Laura Yeager - Comments before Senate Education Committee</li>
            <li>October 30, 2012 - Austin American Statesman - Business leaders: Don’t back off on school testing</li>
            <li>October 19, 2012 - Your Houston News - 'Mad moms’ take on education accountability system</li>
            <li>October 5, 2012 - Austin American Statesman - Young: Signs of fed up Spring</li>
            <li>October 3, 2012 - Jason Stanford: Behind Frenemy Lines - What I saw at the revolution</li>
            <li>September 22, 2012 - Jason Stanford: Behind Frenemy Lines - Watch out for “Moms Against Drunk Testing”</li>
            <li>September 12, 2012 - Diane Ravitch's Blog - Don’t Mess with Texas. The Revolution Begins Here.</li>
            <li>July 1, 2012 - Off The Kuff - TAB takes a hostage</li>
            <li>June 28, 2012 - Pride of the Eastside - No Additional Money for Schools if Accountability is Weakened</li>
            <li>June 27, 2012 - The Texas Tribune - Business Leaders Draw a Line on Education Funding</li>
            <li>June 22, 2012 - Community Impact Northwest Austin - Parents Prep for Fight Against High-Stakes Testing</li>
            <li>June 22, 2012 - TAMSA Press Release - TAMSA Takes Issue With a Letter to Texas House Members</li>
            <li>June 19, 2012 - KVUE-TV - Parents Arrive for STAAR Program Public Hearing</li>
            <li>June 19, 2012 - KVUE-TV - STAAR test results draw criticism from parents, educators</li>
            <li>May 2, 2012 - Yahoo Groups - Join TAMSA: Stand Against Excessive Standardized Testing </li>
            <li>March 28, 2012 - Austin American Statesman - Testing Not Accountability</li>
            <li>March 10, 2012 - Austin American Statesman - Standardized Tests With High Stakes Bad for Learning, Studies Show</li>
            <li>February 13, 2012 KVUE-TV - Schools Could Get STAAR Test Waivers</li>
            <li>Feburary 4, 2012 - The New York Times - In Texas, a Backlash Against Student Testing</li>
        </ul>
      </div>
    </div>
  </div>
</section>
