<link rel="stylesheet" href="/assets/css/billTracker.handlebars">

<style>
  ul {
    list-style: none;
  }
</style>

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Resources</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- showcase -->
<section class="showcase">
  <div class="container" >
    <div class="row">
      <div class="col-12 col-lg-6">
        <p> <h3>TAMSA Testimony, Press Releases & Testing Stories</h3></p>
          <ul>
            <li><a href="/assets/pdf/igc_stories_leg_handout_feb_2017_final.pdf" target="_blank">Individual Graduation Committee Stories - 2017 (PDF)</a></li>
          </ul>
         <p><h3>TEA Resources - HB 5, ICG, and More</h3></p>
          <ul>
            <li><a href="/assets/pdf/IGC_SB_149_FAQ_101315_TEA_PDF.pdf" target="_blank">TEA Individual Graduation Committee FAQ (PDF)</a></li>
            <li><a href="https://tea.texas.gov/graduation-requirements/hb5.aspx" target="_blank">TEA House Bill 5 Resource Page</a></li>
            <li><a href="https://tea.texas.gov/student.assessment/staar/rpt/sum/yr13/" target="_blank">TEA Releases 2013 STAAR Assessments</a></li>
          </ul>
      </div>
      <div class="col-12 col-lg-6">
        <p><h3>Research & Advocacy Information</h3></p>
        <ul> 
          <li><a href="/assets/pdf/advocacy_at_the_capitol_2.doc" target="_blank">Advocating at the Texas Capitol</a></li>
          <li><a href="/assets/pdf/igc_fact_sheet_final.pdf" target="_blank">TAMSA ICG Fact Sheet (PDF)</a></li>
          <li><a href="/assets/pdf/i_cant_answer_these_test_questions_about_my_own_poem_final2.pdf" target="_blank">I Can't Answer These Test Questions About My Own Poem-Sara Holbrook, Author/Poet/Educator (PDF)</a></li>
        </ul>       
        <p><h3>Past Legislative Sessions</h3></p>
        <ul> 
          <li><a href="/assets/pdf/85th_legislative_asks_final.pdf" target="_blank">TAMSA Recommendations for the 2017 85th Legislative Session (PDF)</a></li>
          <li><a href="/assets/pdf/85th_legislative_session.pdf" target="_blank">TAMSA's 2017 85th Legislative Session Wrap-up (PDF)</a></li>
          <li><a href="/assets/pdf/84th_legislative_session.pdf" target="_blank">TAMSA's 2015 84th Legislative Session Wrap-up (PDF)</a></li>
          <li><a href="/assets/pdf/83rd_legislative_session.pdf" target="_blank">TAMSA's 2013 83rd Legislative Session Wrap-up (PDF)</a></li>
        </ul>       
      </div>
    </div>
  </div>
</section>

