<link rel="stylesheet" href="/assets/css/billTracker.handlebars">

<style>
  ul {
    list-style: none;
  }
</style>

<!-- titlecard -->
<section class="titlecard">
  <div class="text-white text-center">
    <div class="container">
      <div class="row slogan">
        <div class="col-12 col-md-4"><p>Nonpartisan</p></div>
        <div class="col-12 col-md-4"><p>Grassroots</p></div>
        <div class="col-12 col-md-4"><p>Statewide</p></div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto">
          <h1 class="my-5">Resources</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- showcase -->
<section class="showcase">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <p> <h3>TAMSA Testimony</h3></p>
          <ul>
            <li>

            </li>
          </ul>
         <p><h3>TEA Resources - HB 5 and More</h3></p>
          <ul>
            <li><a href="https://tea.texas.gov/graduation-requirements/hb5.aspx" target="_blank">TEA House Bill 5 Resource Page</a></li>
            <li><a href="https://tea.texas.gov/student.assessment/staar/rpt/sum/yr13/" target="_blank">TEA Releases 2013 STAAR Assessments</a></li>
            <li><a href="  </li>
         </ul>
      </div>
      <div class="col-12 col-lg-6">
        <p><h3>Research</h3></p>
        <ul> 
          <li>

          </li>
        </ul>       
     <p><h3>Past Legislative Sessions</h3></p>
        <ul> 
          <li> TAMSA Recommendations for 85th Legislative Session (2017 - PDF)</li>
        </ul>       
     </div>
    </div>
  </div>
</section>

