section.masthead {
  background: url(/assets/img/bench-kids.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.masthead button {
  background: #DB0003;
  border: none;
}

section.linkrow {
  padding: 3rem;
}

section.linkrow a.btn {
  font-size: 2rem;
  background: #DB0003;
  border: none;
}

section.showcase ul.points {
  list-style: none;
}

section.showcase ul.points li p {
  font-size: 1.5rem;
}

section.showcase ul.points li {
  margin: 2rem 0;
}

section.showcase h2,
section.showcase h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #040F16;
}

