section.masthead {
  background: url(/assets/img/small-bench-kids.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 7rem;
}

section.masthead button {
  background: #DB0003;
  border: none;
}

section.masthead h1,
section.masthead p {
  text-shadow: 10px 10px 10px #000000;
}

section.linkrow {
  padding: 3rem;
}

div.inputrow {
  margin-top: 2rem;
}

section.linkrow a {
  font-size: 1.5rem;
  background: #DB0003;
  color: #ffffff;
  border: none;
}

section.showcase ul.points {
  list-style: none;
}

section.showcase div.heads img {
  height: 8rem;
}

section.showcase ul.points li p {
  font-size: 1.5rem;
}

section.showcase ul.points li {
  margin: 2rem 0;
}

section.showcase h2,
section.showcase h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #040F16;
}

