nav.navbar {
  padding: 1rem;
}

nav .navbar-header {
  height: 3rem;
}

section.titlecard {
  background: #0B4F6C;
  margin-bottom: 1rem;
}

nav.navbar ul {
  list-style: none;
}

nav.navbar li {
  display: inline;
}

div.slogan {
  padding: 1rem;
  font-size: 2rem;
}
